<div class="main-header">
  <div class="overview">
    hogefuga
  </div>
  <div class="end-btn">
    <a href="#">チャットを終了する</a>
  </div>
</div>

<div class="main-content">
  <div class="chat">
    <div class="chat-data">
      <div class="chat-user">
      Tom
      </div>
      <div class="chat-days">
      2020/3/31(Wed) 12:42:30
      </div>
    </div>
    <div class="chat-message">
      おはよう
    </div>
  </div>
  <div class="chat">
    <div class="chat-data">
      <div class="chat-user">
      Tom
      </div>
      <div class="chat-days">
      2020/3/31(Wed) 12:42:30
      </div>
    </div>
    <div class="chat-message">
      こんばんは
    </div>
  </div>
</div>

<div class="main-footer">
  <div class="form">
    <input type="text" value class="footer-form" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
  </div>
  <input type="submit" class="footer-send" value="送信">
</div>