/* ########################## */
    /* ここから全体部分 */
/* ########################## */

.wrapper{
  display: flex;
}


/* ########################## */
    /* ここからサイドバー */
/* ########################## */

.side{
  height: 100vh;
  width: 300px;
  background-color: #253141;

}

/* ---------サイドヘッダー----------------- */

.side-header{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name{

}

.user-name a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}


.chat-new{
  border: 1px lightgreen solid;
  padding: 14px;
}

.chat-new a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

/* ---------サイドメイン----------------- */

.side-content{
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.side-content-box{
  padding: 20px 20px 40px 20px;
}

.side-content-box a{
  color: white;
  text-decoration: none;
}

/* ########################## */
   /* ここからメインコンテンツ */
/* ########################## */

.main{
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;
}


.main-header{
  height: 100px;
  padding: 0 40px;
}

.main-content{
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 46px 40px 0 40px;
}

.main-footer{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}